torch
torchvision
pytorch-lightning>=1.5.1
editdistance
torchmetrics
pandas
opencv-python
albumentations
numpy
sklearn
scikit-learn
Pillow
matplotlib
torchserve
torch-model-archiver
torch-workflow-archiver
